{% extends "base.html" %}

{% block content %}
<div class="card-wrapper">
    <div class="card">
        <h1 class="center">Crear Curso</h1>

        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}

        <form method="POST" action="/create_course">
            <p><strong>Nombre del Curso</strong></p>
            <input type="text" name="title" class="field" required>

            <p><strong>Descripción</strong></p>
            <textarea name="description" class="field" required></textarea>

            <br>
            <input type="submit" value="Crear Curso" class="btn">
        </form>
    </div>
</div>
{% endblock %}
